.username{
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    height: 28px;

}
.password{
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    height: 28px;
}
.email{
   text-align: left; 
   opacity: 90%;
}
.pass{
    text-align: left;
    opacity: 90%;
}
.login{
    padding-top: 100px;
    margin-top:100px;
    margin: auto;
    width: 80%;
   
}
.input{
    
}
.image1{
    width: 100%;
    /* border-radius:0px 40% 40% 0px; */
    height: 100%
    
}
.user{
    margin-top: 30px;
    /* margin-bottom: 30px; */
}
.word{
  margin-top: 30px; 
}
.button{
    margin-top: 30px;
}
.b1{
    width:180px;
    height:36px;
    border-radius: 20px;
    border: none;
    color: aliceblue;
    background-color: rgba(1, 1, 10, 0.653);
}
.container1{
    /* background-color: white;  */
    width: 52%;
    opacity: 90%;
    
}
.container{
    display: flex;
    margin: 0px auto;
    width: 800px;
    /* max-width: fit-content; */
    /* justify-content: center; */
    border-radius: 20px;
    margin-top: 50px;
   
    
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}
.forgot{
    text-align: right;
    opacity: 90%;
}
.container2{
    width: 58%;
    background-color: white;
}   
.body{
    background-color:aliceblue;
    /* padding-top: 50px; */
padding:5%;

    margin: 0;
}   
.signuplink{
    text-decoration: none;
    color:rgba(1, 1, 10, 0.653); 
    
}
.link{
    margin-top: 10px;
}