.contain1{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    max-width: 400px;
    padding: 30px;
    padding-right: 10px;
    margin: 0px auto;

}
.forgot-body{
    padding: 132px;
    /* margin-top: 180px; */
    background: #CED4DA;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.861);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);

}
.forgot-tittle{
    font-size: xx-large;
    padding: 5px;
}
.forgot-description{
    font-size: large;
    font-weight: lighter;
    padding: 5px;
}
.forgot-input-div{
    padding: 5px;
}
.forgot-input-tittle{
    font-size: large;

    font-weight:300;
}
.forgot-input-email{
    width: 350px;
    height: 30px;
}
.forgot-input-email-div{
    padding-top: 5px;

}
.forgot-button{
    width: 358px;
    height: 30px;
    background-color: rgba(1, 1, 10, 0.653);
    border: none;
    color: aliceblue;
}
.forgot-button-div{
    padding: 5px;
}
.forgot-link{
    text-decoration: none;
    opacity: 80%;
    color: black;
}
.forgot-link-div{
    padding: 5px;
}
.forgot-icon-div{

    padding: 5px;
    text-align: center;
}
.fill-lock{
    font-size: 100px;

}