.reset-body{
    padding: 143px;
    background: #CED4DA;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.861);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}
.reset-tittle{
    font-size: xx-large;
    padding: 5px;
}
.reset-newpassword-div{
    padding: 5px;
}
.reset-comfirmpassword-div{
    padding: 5px;
}
.reset-button-div{
    padding: 5px;
}
.reset-newpassword{
    font-weight: 300;

}
.reset-comfirmpassword{
    font-weight: 300;
}
.reset-newpassword-input{
    width: 320px;
    height: 31px;
    border:1px solid;
    border-left: none;
    
}
.reset-comfirmpassword-input{
    width: 320px;
    height: 31px;
    border:1px solid;
    border-left: none;
}
.reset-button{
    width: 355px;
    height: 30px;
    background-color: rgba(1, 1, 10, 0.653);
    border: none;
    color: aliceblue;

}
.reset-comfirmpassword-input-div{
    /* padding: 5px; */
    padding-top: 5px;
    display: flex;
    align-items: center;
    
}
.reset-email{
    font-weight: 300;
}
.reset-email-input-div{
    padding-top: 5px;
}
.reset-email-input{
    width: 352px;
    height: 31px;
    border: 1px solid;
}
.reset-email-div{
    padding: 5px;
}
.reset-newpassword-input-div{
    padding-top: 5px;
    display: flex;
    align-items: center;
}
.reset-input-icon{
    border:1px solid;
    height: 33px;
    text-align: center;
    align-content: center;
    width: 30px;
    border-right: none;
    
    
}
.lockalt{
    font-size: 20px;
    
}

.userlock{
    font-size: 100px;
}
.reset-icon-div{
    
    padding: 5px;
    text-align: center;
}
.contain1{
    background-color: white;
}
.change-body{
    padding-top: 100px;
    padding-bottom: 120px;
    margin: auto;
    width: 91.2%;
    background: #CED4DA;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.861);
  
    background-image: linear-gradient(
        -90deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      ),
      linear-gradient(
        0deg,
        transparent calc(var(--gap) - var(--line)),
        var(--color) calc(var(--gap) - var(--line) + 1px),
        var(--color) var(--gap)
      );
    background-size: var(--gap) var(--gap);
}